<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% include 'bootstraplinks.html' %} 

</head>
    <body>
     {% include 'navigation.html' %} 
     <div class="col-md-2 col-md-offset-5">
    <div style="width: 48rem;">
    <form action="{%url 'djangoapp:add_review' 15%}" method="post">
        <p>Enter your review about {{dealername}}</p>
        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
        <div class="row">
        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck"> Has purchased the car from {{dealername}} ?
        </div >
            <div class="row">
        Select you car : <select name="car" id="car" class="form-select" required>
            {% for car in cars %}
                <option selected value={{car.id}}>{{car.make}}-{{car.name}}-{{ car.year|date:"Y" }}</option>
            {% endfor %}
            
       </select>
    </div >
    <div class="row">
       Enter the date of purchase : <input class="input-group date" type="text" name="purchasedate" id="purchasedate">
    </div >
       <button type="submit" class="btn btn-primary">Submit</button>
       <script type="text/javascript">
        $(function () {
            $('#purchasedate').datetimepicker();
        });
     </script>
    </form>
</div>
</div>
    </body>
</html>