<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% include 'bootstraplinks.html' %} 
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    

</head>

    <body>
    
    {% include 'navigation.html' %} 

    <table class="table" id="table">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="full_name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="st">State</th>
                
            </tr>
        </thead>
        <tbody>
            {%for value in context.items%}
            <tr>
                <td>{{value.id}}</td>
            
            </tr>
            {%endfor%}
        </tbody>
    </table>

    </body>

</html>
